$color-amarillo: rgb(247, 182, 23);
$color-gris: rgb(43, 43, 43);
$letra-blanca: #fff;
$col: 8.33%;
$font-size: 16px;
$display-inlineBlock: inline-block;

*{
  box-sizing: border-box;
}
.titulo{
  background: $color-amarillo;
  color: $letra-blanca;
}

.menu{
  ul{
    li{
      background: $color-gris;
      list-style: none;
      color: $letra-blanca;
      margin-bottom: .5%;
      padding: 1%;
    }
    .li-amarillo{
       background: $color-amarillo;
     }
  }
}
.aside{
    background: $color-gris;
    color: $letra-blanca;
    text-align: center;
}
.footer{
  @extend .aside;
}

@media ( min-width: 768px ) and (max-width: 1024px){
  .container{
    width: 100%;
    font-size: 0;
  }
  .menu{
    width: $col*3;
    display: $display-inlineBlock;
    vertical-align: top;
    font-size: $font-size;
  }
  .contenedor-principal{
    width: $col*9;
    padding: 0 2%;
    display: $display-inlineBlock;
    font-size: $font-size;
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .container{
    width: 100%;
    font-size: 0;
  }
  .menu{
    width: $col*3;
    display: $display-inlineBlock;
    vertical-align: top;
    font-size: $font-size;
  }
  .contenedor-principal{
    width: $col*6;
    padding: 0 2%;
    display: $display-inlineBlock;
    font-size: $font-size;
  }
  .aside{
    width: $col*3;
    display: $display-inlineBlock;
    vertical-align: top;
    font-size: $font-size;
  }
  .footer{
    width: $col*12;
  }
}
